<div class="container-fluid pt-4">
    <div class="row justify-content-center mt-2">
        <div class="col-lg-3 border rounded shadow">
                <div class="row p-0 ">
                    <div class="col-lg-6 p-0" style="background-color: rgb(64, 187, 64)">
                           <p class="text-center  text-light   m-3" >Login</p> 
                    </div>
                    <div class="col-lg-6 p-0 border" style="cursor:pointer; color:grey" [routerLink]="['/signup']"> 
                            <p class="text-center m-3" >Signup</p>
                            <hr class="m-0">
                    </div>
                </div>

                <p class="text-danger text-center mt-3">{{loginError}}</p>

                <div class="row justify-content-center ">
                    <img class="mt-4" src="./assets/images/user.png" width="120px">
                </div>

                <div class="p-4">

                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <input type="text" formControlName="userEmail" placeholder="Email" class="form-control">
                            <small class="text-danger" *ngIf="loginForm.get('userEmail').touched && loginForm.get('userEmail').errors?.required">
                                Email required
                            </small>
                            <small class="text-danger" *ngIf="loginForm.get('userEmail').touched && loginForm.get('userEmail').errors?.email">
                                Enter proper email
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="userPassword" placeholder="Password" class="form-control">
                            <small class="text-danger" *ngIf="loginForm.get('userPassword').touched && loginForm.get('userPassword').errors?.required">
                                Email required
                            </small>
                            <small class="text-danger" *ngIf="loginForm.get('userPassword').touched && loginForm.get('userPassword').errors?.minlength">
                                Atlease 3 characters
                            </small>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loginForm.invalid" class="btn btn-primary float-right mb-3">Login</button>
                        </div>
                    </form>

                </div>


        </div>
    </div>
</div>