<div class="container mt-4">

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="['']">Winkart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="margin-left: 50px">
        <li>
            <div class="btn-group">
              <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Shop by Category
              </button>
              <div class="dropdown-menu" >
                <a *ngFor="let dep of departmentName" class="dropdown-item pl-3" href="#">{{dep.departmentName}}<i class="far fa-hand-point-right"></i></a>
                
              </div>
            </div>
        </li>
        <li>
          <input type="search" [(ngModel)]="searchString" class="form-control" placeholder="Search" style="width: 500px" (keyup)="search()" >
          <div *ngIf="searchProduct" id="top">
              <ul class="border rounded">
                <li id="item" *ngFor="let pro of searchProduct"> {{pro.productName}} </li>
              </ul>
          </div>
        </li>
      </ul>
      <i class="fas fa-user fa-2x" id="icons" [routerLink]="['/login']"></i>
    </div>
  </nav>

  <hr id="hrbar" size="30">

</div>


<router-outlet></router-outlet>